<nav class="navbar">
  <div class="nav-container">
    <img src="publicPhotos/anchorageLogo.png" alt="logo">
    <a class="navbar-brand">platformAnchorage</a>
    <a class="navItem" href="/">Home</a>
    <a class="navItem" href="/platformAnchorage/guests">Guests</a>
    <a class="navItem" href="/platformAnchorage/aboutUs">About Us</a>
    {{!-- <a class="navItem" href="/platformAnchorage/account">Account</a> --}}
    <a class="navItem" href="/login">Admin</a>
  </div>
</nav>