<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Lobster&family=Roboto+Slab:wght@600;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/../css/about.css">
</head>

<body>
    {{>navbar}}
    <section class="about-">
        <div class="main1">
            <div class="left">
                <h1 class="h1">About Us</h1>
                <img src="https://www.hotels-of-new-delhi.com/data/Pics/OriginalPhoto/11280/1128098/1128098583/pic-anchorage-mahipalpur-new-delhi-1.JPEG"
                    alt="image">
            </div>
            <div class="about">
                <h5>
                    <span>Anchorage is a tribute</span> to seafarers and towards their commitment towards this
                    profession.
                    Set up in 2019 after Capt Vishal suffered a near fatal stroke on board vessel amidst Singapore
                    straits leaving him with permanent damages.
                    Anchorage is a new and moder guest house with 28 rooms spread over 1 building and 1 Hotel in
                    Mahipalpur, within close proximity to the airport and well connected with metro network to all parts
                    of Delhi. The hotel and guest house is in vicinity of AIROCITY and other popular tourist spots like
                    Qutb Minar and Ambience Emporio and DLF malls. Anchorage was set up under the guidance of Capt
                    Vishal who due to his long experience with sailing understands the requirements of seafarers and
                    those of companies as well.
                    Anchorage is a humble attempt to give to seafarers at a nominal cost the excellent quality and
                    service which they deliver each tine while at work at sea with reliabilty and consistency.
                </h5>
            </div>
        </div>
        <div class="main2">
            <div class="left">
            <img src="../publicPhotos/aboutUs.jpg" alt="image">
            </div>
            <div class="about">
                <h1 class="h1">Truth Be Told......</h1>
                <h5>
                    <span>I </span>wish this story did not exist. Traumatic events are not supposed to happen, but they
                    do. Once
                    upon a time, not so long ago, on September 21, 2018, my husband, Captain Vishal Khanna on board CMA
                    CGM
                    Tuticorin docking into Singapore at 0830 hrs sustained a brain stroke, which paralysed his entire
                    body neck
                    down. He lost the "golden period" for emergency response as he was 6 hours away from port, later he
                    was taken to
                    NUS Hospital Singapore, intubated and rushed to the Interventional radiology department where the
                    clot was
                    removed. The prognosis was very poor and senior doctors said even if he did live through the first
                    72 hours, the
                    damage to his brainstem meant that he had minuscule odds to have any recovery at all of his motor
                    skills. He
                    wasin a "locked in" inside his own body, which meant that he could listen and understand everything
                    around him
                    but could not move or speak.
                    Vishal has been fighting all these feelings with grit and a remarkable determination. His
                    perseverance is exemplary. He has endured months of physiotherapy to come to a place today where he
                    has used his phone to text- yes he has regained movement of left hand and can type, he has even
                    started to stand and tries to walk with some assistance. He tries to talk, and his speech isbecoming
                    more and more coherent. From blinking an eye to convey a yes, which used to be our only method of
                    communication, to this stage today- it is nothing short of a miracle. Yes, miracles do happen if you
                    have courage.Our journey continues with new challenges. I would request you to promote our
                    guesthouse business. I have really put my heart and soul into it and assure you that I would take
                    all effort to make sure that guests have a comfortable stay there.
            </div>
            </h5>
        </div>
    </section>
</body>

</html>