<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listings</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="/../css/listing.css">
</head>
<body>
  {{> navbar}}
  <main>
    <div class="section">
      <h1>hello</h1>
      {{#each dummy as |filteredRoom|}}
      <h1>hello</h1>
        <section class="listings">
          <article class="listing-item">
            <div class="listing-details">
              <h2>Room Number: {{filteredRoom.roomNumber}}</h2>
              <ul>
                {{!-- {{#each bookings}}
                  <li>Check-in: {{filteredRoom.booking.checkInDateTime}}, Check-out: {{filteredRoom.checkOutDateTime}}</li>
                {{/each}} --}}
              </ul>
            </div>
          </article>
        </section>
      {{/each}}
    </div>
  </main>
  <footer class="site-footer">
    <p>&copy; 2024 platformAnchorage. All rights reserved.</p>
  </footer>
</body>
</html>
