* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color:rgb(64, 63, 63)
  }
  .navbar {
    background-color: #003366;
  }
  .navItem{
    color: white;
    text-decoration: none;
  
  }
  .nav-container{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .nav-container>img{
    height:7vh;
    width:4vw;
  }
.details{
    width:35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    border: 2px solid none;
    border-radius: 20px;
    margin:2% auto;
    background-color: rgb(133, 133, 202);
}
.guest_form{
    display: flex;
    width: 100%;
}
.left{
    padding: 2%;
    width:50%;
}
.left>label{
    display: block;
    padding: 1.5%;
    margin:1%;
}
.right{
    padding: 2%;
}
.right>input{
    margin: 1%;
    padding: 1%;
}
.addbtn{
    padding: 1%;
}
.table1{
    margin:auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
table{
    width: 100%;
}
.long{
    width:20%;
    text-align: center;
    border: 1px solid black;
}
.small{
    width:15%;
    text-align: center;
    border:1px  solid black;
}
.medium{
    width:18%;
    text-align: center;
    border:1px  solid black;
}
.mails{
    width:75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    border: 2px solid none;
    border-radius: 20px;
    margin:2% auto;
    background-color: rgb(133, 133, 202);
}
.mails_left{
    padding: 2%;
}
.mails_left>label{
    margin:10% 1%;
    padding: 2%;
}
.sendEmailForm{
    display: flex;
    width: 100%;
}