
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(29, 31, 36);
}

.navbar {
  display: flex;
  background-color: #102C57;
  height: 10vh;
  width: 100vw;
  z-index: 2;
  position: sticky;
  top:0vh;
}

.navItem {
  color: white;
  text-decoration: none;
}

.nav-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-container>img {
  height: 7vh;
  width: 4vw;
}

.table1 {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  flex-direction: column;
}

table {
  width: 100%;
}

.long {
  width: 10%;
  text-align: center;
  border: 1px solid black;
}

.small {
  width: 2%;
  text-align: center;
  border: 1px solid black;
}

.medium {
  width: 6%;
  text-align: center;
  border: 1px solid black;
}

.custom-modal-dialog {
  max-width: 95vw;
  /* Adjust the width as per your requirement */
  margin: 1.75rem auto;
}
.rightdiv{
  display: flex;
  flex-direction: column;
  width: 59%;
}

.roomDiv {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20%  20% 20% 20%  ;
}

.roomModal {
  margin: 2%;
  height: 10vh;
  border: 2px solid white;
}
h1,
h3,
h5 {
  text-align: center;
}

.RoomAvailable {
  width: 100%;
  height: 49.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #EADBC8;
  padding: 1%;
  color: #102C57;
}

.roomFormInner {
  display: flex;
  margin: 3% 0% 4% 0%;
  font-size: large;
}

.room_form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 5% 0%;
}

.left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  text-align: center;
}

.left label {
  display: block;
  margin: 6% 0%;
  text-align: left;
}
.btndiv{
  display: flex;
  justify-content: flex-end;
}
.btn1 {
  
  background-color: #102C57;
  padding: 3%;
  color: #FEFAF6;
}
.btn1:hover{
  background-color: #2b65bc;
}
.btn2 {
  background-color: #102C57;
  width: 10%;
  margin: auto;
  padding: 1%;
  border-radius: 20px;
  color: #FEFAF6;
}
.btn2:hover{
  background-color: #2b65bc;
}
.right {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
}

.right input {
  display: block;
  margin: 3% 0%;
  text-align: center;
  border-radius: 5px;
}

.Available {
  display: grid;
  grid-template-columns: 18.9vw 18.9vw 18.9vw 18.9vw 18.9vw;
}

.Available>.roomModal {
  margin: 2%;
  height: 10vh;
  border: 2px solid white;
}

.formsRoom {
  height: 90vh;
  display: flex;
  width: 40vw;
  position: sticky;
  top:10vh;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
}

.Search {
  width: 100%;
  height: 39.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #EADBC8;
  padding: 1%;
  color: #102C57;
}

.Search h3 {
  margin: 3%;
}

.guest_form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.table2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.rows2 {
  display: grid;
  grid-template-columns: 4.5% 11.109% 7% 11.109% 11.109% 11.109% 11.109% 11.109% 21.9%;
}

.rows2 th,
td {
  text-align: center;
  border: 1px solid black;
}

.guestAvailable {
  width: 100%;
}

.roomStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 80%;
  height: 6vh;
  margin: 1vw auto;
  background-color: #EADBC8;
  color: #102C57;
  box-shadow: 2px 2px grey;
}

.roomStatusAvailable {
  background-color: rgb(30, 160, 30);
}

.roomStatusUnavailable {
  background-color: #dc2626;
}

.RoomPage {
  margin: 1% auto;
}
.circle{
  height: 2vh;
  width: 2vh;
  box-shadow: 2px 2px grey;
  display: block;
  border-radius: 50%;
  position: relative;
  left: 30%;
}

.total{
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
