* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(64, 63, 63)
}

.navbar {
  background-color: #003366;
}

.navItem {
  color: white;
  text-decoration: none;
}

.nav-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-container>img {
  height: 7vh;
  width: 4vw;
}

.table1 {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  flex-direction: column;
}

table {
  width: 100%;
}

.long {
  width: 10%;
  text-align: center;
  border: 1px solid black;
}

.small {
  width:2%;
  text-align: center;
  border: 1px solid black;
}

.medium {
  width: 6%;
  text-align: center;
  border: 1px solid black;
}

.custom-modal-dialog {
  max-width: 95vw;
  /* Adjust the width as per your requirement */
  margin: 1.75rem auto;
}

.roomDiv {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
}

.roomModal {
  margin: 2%;
  height: 10vh;
  border: 2px solid white;
}

h1,h3,
h5 {
  text-align: center;
}

.RoomAvailable {
  width: 49%;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(59, 137, 215);
  border-radius: 20px;
  padding: 1%;
}

.room_form {
  display: flex;
  width: 50vw;
}

.left {
  padding: 2%;
  width: 50%;
  text-align: center;
}

.left>label {
  display: block;
  padding: 1.5%;
  margin: 1%;
}

.right {
  padding: 2%;
  height: 20vh;
}

.right>input {
  display: block;
  margin: 5%;
  padding: 1%;
}

.Available {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
}

.Available>.roomModal {
  margin: 2%;
  height: 10vh;
  border: 2px solid white;
}

.formsRoom {
  display: flex;
}
.Search{
  display:flex;
  margin: 1%;
  width:49%;
  background-color: aliceblue;
  flex-direction: column;
  border-radius: 20px;
}
.Search h3{
  margin:3%;
}
.guest_form{
  display: flex;
  width: 100%;
}

.table2 {
  width:100%;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}
.rows2{
  display: grid;
  grid-template-columns: 4.5% 11.109% 7% 11.109% 11.109% 11.109% 11.109% 11.109% 21.9%;
}
.rows2 th,td{
  text-align: center;
  border: 1px solid black;
}
.guestAvailable{
  width:100%;
}
.roomStatus {
  font-weight: bold;
}

.roomStatusAvailable {
  background-color: green;
}

.roomStatusUnavailable {
  background-color: red;
}