* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color:rgb(64, 63, 63)
  }
  .navbar {
    background-color: #003366;
  }
  .navItem{
    color: white;
    text-decoration: none;
  
  }
  .nav-container{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .nav-container>img{
    height:7vh;
    width:4vw;
  }
  .table1{
    margin:auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
table{
    width: 100%;
}
.long{
    width:20%;
    text-align: center;
    border: 1px solid black;
}
.small{
    width:15%;
    text-align: center;
    border:1px  solid black;
}
.medium{
    width:18%;
    text-align: center;
    border:1px  solid black;
}
.custom-modal-dialog {
    max-width: 75vw; /* Adjust the width as per your requirement */
    margin: 1.75rem auto;
}