* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: rgb(32, 32, 32);
  animation: 1s navbar ease-in;
}
@keyframes navbar {
  0%{
    position: relative;
    top:-50px;
  }
  100%{
    position: relative;
    top:0px;
  }
}
.navItem{
  color: white;
  text-decoration: none;
}
.navbar-brand{
  color: white;
  text-decoration: none;
}
.nav-container{
  width:50%;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
body {
  background-color: rgb(32, 32, 32);
}
.nav-container>img{
  height:7vh;
  width:7vw;
}
.firstLook{
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
}
.firstLookText{
  position: relative;
  right:-5%;
  width:40%;
  font-size: 400%;
  z-index: 2;
}
.imageContainer{
  position: relative;
  right:10%;
  margin:2% auto;
  height: 90vh;
  width: 70%;
}
.carousel-item{
  padding: 2%;
  height: 80vh;
}
.data{
  background-color: aliceblue;
  height: 80vh;
  display: flex;
  align-items: center;
}
.data-container{
  display: flex;
  width:100%;
}
#left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  height: 130%;
  color:rgb(65, 77, 77);
}
.content{
  margin: 2%;;
  padding: 2% 5% ;
  text-align: justify;
}
.content> h1{
  text-align: center;
}
.content > p{
  font-size: 115%;
}
#right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50%;
  height: 80vh;
  background-color: coral;
}
#right>img{
  width:80%;
  height: 60vh;
  border-radius: 1%;
  padding: 1% 0%;
  transition: transform 1.1s ease-in;
}
#right>img:hover{
  transform: scale(1.3);
}
.outerLocation{
  height:60vh;
  background-color: darkgrey;
}
.location{
  display: flex;
  width: 50%;
  margin:  auto;
  justify-content: space-between;
}
.location>div{
  font-size: 125%;
}
.aboutUs{
  display: flex;
  height: 80vh;
}
.aboutUsLeft{
  display: flex;
  background-color:rgb(135, 107, 70);
  width:50%;
  align-items: center;
  justify-content: center;
}
.aboutUsRight{
  display: flex;
  color:aliceblue;
  width:50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.aboutUsLeft>img{
  width: 80%;
}