* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  /* position: relative;
  top:-30px; */
  background-color: #003366;
}
.navItem{
  color: white;
  text-decoration: none;

}
.nav-container{
  width:50%;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

body {
  /* background-image: url("https://anchorage-mahipalpur.hotels-newdelhi.com/data/Photos/OriginalPhoto/11419/1141915/1141915351/new-delhi-anchorage-mahipalpur-photo-7.JPEG");
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: white;
}
.image-container img{
  height: 75vh;
  border-radius: 50px;
  margin: 20px 0px;
}
.image-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel{
  width:75%;
}
.data{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 70vh;
  background-color: rgb(220, 202, 178);
  border-radius: 30px;
  opacity: 1;
}
.content{
  justify-content: center;
  font-size: 100%;
  padding: 3%;
  color: rgb(201, 11, 11);
}
.content > span{
  display: block;
}
.data > img{
  height: 60%;
  width:40%;
  padding: 2vw;
}