@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .col-1fr {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  
    .col-3fr {
      grid-template-columns: repeat(1, minmax(0, 1fr)) repeat(3, minmax(0, 3fr));
    }
  
    .col-2fr {
      grid-template-columns: repeat(1, minmax(0, 1fr)) repeat(4, minmax(0, 2fr));
    }
  }


  ::-webkit-scrollbar {
    width: 4px;
    height: 4px
}
/* ::-webkit-scrollbar-button {
  background: #888
} */
::-webkit-scrollbar-track-piece {
  background: #eee
} 
::-webkit-scrollbar-thumb {
  background: #ccc
} 
